@inject NavigationManager NavigationManager
@inject ClienteService ClienteService
@inject IJSRuntime JS

<EditForm Model="@cliente" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-field mt-2 mb-2">
        <div class="form-group row">
            <label class="col-3 col-form-label">Nombre Completo</label>
            <div class="col">
                <div class="input-group">
                    <InputText @bind-Value="@cliente.Nombre" class="form-control" placeholder="Nombre" />
                </div>
                <ValidationMessage For="@(() => cliente.Nombre)" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">DNI</label>
            <div class="col">
                <div class="input-group">
                    <InputNumber @bind-Value="@cliente.DNI" class="form-control" placeholder="Dni" />
                </div>
                <ValidationMessage For="@(() => cliente.DNI)" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Dirección</label>
            <div class="col">
                <div class="input-group">
                    <InputText @bind-Value="@cliente.Direccion" class="form-control" placeholder="Direccion" />
                </div>
                <ValidationMessage For="@(() => cliente.Direccion)" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Teléfono</label>
            <div class="col">
                <div class="input-group">
                    <InputNumber @bind-Value="@cliente.Telefono" class="form-control" placeholder="Telefono" />
                </div>
                <ValidationMessage For="@(() => cliente.Telefono)" />
            </div>
        </div>

        @if (!OcultaAlta)
        {
            <div class="d-flex justify-content-between form-group row">
                <label class="col-3 col-form-label">Estado</label>
                <div class="col">
                    @if (cliente.FechaBaja == null)
                    {
                        <label><b>Cliente activo</b><i class="oi oi-check" style="color:green"></i></label>
                    }
                    else
                    {
                        <label><b>Cliente dado de baja el: @cliente.FechaBaja.ToString()</b></label>
                        <div class="btn btn-group">
                            <button type="button" @onclick="DarAlta" class="btn btn-sm btn-primary"><i class="oi oi-data-transfer-upload"></i>Dar de alta</button>
                        </div>
                    }
                </div>
            </div>
        }

        <button type="submit" class="btn btn-primary">
            <i class="oi oi-check "></i>
            <text style="color:white"> @TextBotonSubmit</text>
        </button>
    </div>
</EditForm>


@code {
    [Parameter] public ClienteModel cliente { get; set; } = new ClienteModel();
    [Parameter] public string TextBotonSubmit { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public bool OcultaAlta { get; set; }


    async void DarAlta()
    {
        cliente.FechaBaja = null;

        var respuesta = await ClienteService.Editar(cliente);

        if (respuesta.IsSuccessStatusCode)
        {
            var content = await respuesta.Content.ReadAsStringAsync();
            var objDeserealizado = JsonConvert.DeserializeObject<ClienteModel>(content);
            NavigationManager.NavigateTo("/clientes");
            await JS.InvokeVoidAsync("simple", "¡Éxito!", $"El cliente {objDeserealizado.Nombre} fue dado de alta con éxito!", "success");
        }
        else
            await JS.InvokeVoidAsync("simple", "Error", $"Error {((decimal)respuesta.StatusCode)}. No se pudo dar de alta el cliente.", "error");
    }

}
