@page "/clientes"
@using MiAlmacen.Blazor.Services
@using MiAlmacen.Model.Models
@inject IClienteService ClienteService


<div class="d-flex justify-content-between mb-3">
    <div>
        <a href="clientes/crear" class="btn btn-sm btn-success">
            <i class="oi oi-plus"></i> Nuevo
        </a>
    </div>
    <h3>Clientes</h3>
</div>

@if (clientes == null)
{
    <p>Cargando...</p>
}
else if (clientes.Count() == 0)
{
    <p>No se encontraron clientes.</p>
}
else
{
    <table class="table table-hover">
        <thead class="thead thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var cliente in clientes)
        {
            <tr>

                <td>@cliente.Id</td>

                <td>@cliente.Nombre</td>

                <td>@cliente.Direccion</td>

                <td>@cliente.Telefono</td>
                <td>
                      <button @onclick="@(() => BorrarCliente(cliente.Id))" class="btn btn-sm btn-danger">
                           <i class="oi oi-trash"></i> 
                       </button>
                       <a class="btn btn-sm btn-warning" href="clientes/editar/@cliente.Id"><i class="oi oi-pencil"></i></a>
                 </td>
            </tr>
        }
        </tbody>
    </table>
}


@code {

    public IEnumerable<ClienteModel> clientes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        clientes = await ClienteService.GetAllClientes();
    }
    private void BorrarCliente(int id)
    {
        ClienteService.Eliminar(id);
    }
}