@page "/clientes"
@inject ClienteService ClienteService
@inject NavigationManager NavigationManager
@inject UsuarioService UsuarioService
@inject IJSRuntime JS

<div class="d-flex justify-content-between mb-1" id="header">
    <h3>Clientes</h3>
    <div>
        <a href="clientes/crear" class="btn btn-sm btn-success">
            <i class="oi oi-plus"></i> Nuevo
        </a>
    </div>
</div>

<div class="input-group d-flex justify-content-between mb-1" id="filtros">
    <input class="form-control form-control-sm" type="text" placeholder="Busque por nombre" @oninput="FiltroNombre" />
    <input class="form-control form-control-sm" type="number" placeholder="Busque por DNI" @oninput="FiltroDNI" />
</div>
<div class="btn-group d-flex justify-content-between mb-1" id="filtros3">
    <button class="btn btn-primary btn-sm" @onclick="@(() => Filtros(false, false))"> Todos</button>
    <button class="btn btn-primary btn-sm" @onclick="@(() => Filtros(true, false))"> Solo activos</button>
    <button class="btn btn-primary btn-sm" @onclick="@(() => Filtros(false, true))"> Solo inactivos</button>
</div>


@if (clientes == null)
{
    <div class="vh-100 row m-0 text-center align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
}
else if (clientes.Count() == 0)
{
    <p>No se encontraron clientes.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in clientes)
            {
                <tr>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.DNI</td>
                    <td>@cliente.Direccion</td>
                    <td>@cliente.Telefono</td>
                    <td>
                        @if (cliente.FechaBaja == null)
                        {
                            <i class="oi oi-check" style="color:green"></i>
                        }
                        else
                        {
                            <i class="oi oi-x" style="color:red"></i>
                        }
                    </td>
                    <td>
                        <button @onclick="@(() => BorrarCliente(cliente.Id))" class="btn btn-sm btn-danger">
                            <i class="oi oi-trash"></i>
                        </button>
                        <a class="btn btn-sm btn-warning" href="clientes/editar/@cliente.Id"><i class="oi oi-pencil"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="d-flex justify-content-between mb-1" id="footer">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><button class="page-link" @onclick="() => Paginar(false)">Anterior</button></li>
            <li class="page-item"><button class="page-link">@pagina</button></li>
            <li class="page-item"><button class="page-link" @onclick="() => Paginar(true)">Siguiente</button></li>
        </ul>
    </nav>
    <div>
        <b>@registros registros totales</b>
    </div>
</div>


@code {
    public IEnumerable<ClienteModel> clientes { get; set; }

    public IEnumerable<ClienteModel> clientesTemp { get; set; }

    public string nombreFiltro { get; set; } = string.Empty;

    public string dniFiltro { get; set; } = string.Empty;

    public int pagina { get; set; } = 1;

    public int registros { get; set; }

    public bool activos { get; set; } = true;
    public bool inactivos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await UsuarioService.GetSesion();
        if (result == null)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            await GetClientes();
            await Paginar(false);
        }
    }

    private async Task BorrarCliente(int id)
    {
        var cliente = await ClienteService.GetUnCliente(id);

        var confirmacion = await JS.InvokeAsync<bool>("confirmar", "Eliminar",
            $"¿Desea eliminar cliente?", "warning");
        if (confirmacion)
        {
            var respuesta = await ClienteService.Eliminar(id);

            if (respuesta.IsSuccessStatusCode)
            {
                await JS.InvokeVoidAsync("simple", "¡Éxito!", "Cliente eliminado", "success");
                await GetClientes();
                await Paginar(false);
            }
            else
            {
                await JS.InvokeVoidAsync("simple", "Error", $"Error {((decimal)respuesta.StatusCode)}. No se pudo eliminar cliente", "error");
            }
        }
    }

    private async Task GetClientes()
    {
        clientes = await ClienteService.GetAllClientes();
        clientesTemp = clientes;
    }

    async Task Paginar(bool next)
    {
        await Filtrar();

        int cantidadPorPagina = 10;
        registros = clientes.Count();
        decimal total;

        if (registros < cantidadPorPagina)
            total = pagina;
        else
        {
            if (registros % cantidadPorPagina == 0)
                total = registros / cantidadPorPagina;
            else
                total = (registros / cantidadPorPagina) + 1;
        }

        if (!next && pagina > 1) pagina--;

        if (next && pagina < total) pagina++;

        clientes = clientes.Skip((pagina - 1) * cantidadPorPagina).Take(cantidadPorPagina);
    }

    async Task Filtrar()
    {
        clientes = clientesTemp;

        if (activos)
            clientes = await Task.FromResult(clientes.Where(x => x.FechaBaja == null));
        if (inactivos)
            clientes = await Task.FromResult(clientes.Where(x => x.FechaBaja != null));

        if (!string.IsNullOrEmpty(nombreFiltro))
            clientes = await Task.FromResult(clientes.Where(x => x.Nombre.ToUpper().Contains(nombreFiltro.ToUpper())));
        if (!string.IsNullOrEmpty(dniFiltro))
            clientes = await Task.FromResult(clientes.Where(x => x.DNI.ToString().ToUpper().Contains(dniFiltro.ToUpper())));
    }

    void FiltroNombre(ChangeEventArgs e)
    {
        nombreFiltro = e.Value.ToString();
        Filtrar();
    }

    void FiltroDNI(ChangeEventArgs e)
    {
        dniFiltro = e.Value.ToString();
        Filtrar();
    }

    async Task Filtros(bool activosB, bool inactivosB)
    {
        activos = activosB; inactivos = inactivosB;
        await Filtrar();
        await Paginar(false);
    }
}