@inject NavigationManager NavigationManager
@inject VentaService VentaService
@inject IJSRuntime JS

<EditForm Model="@venta" OnValidSubmit="@OnValidSubmit">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Fecha</label>
            <InputDate @bind-Value="@venta.Fecha" class="form-control" />
            <ValidationMessage For="@(() => venta.Fecha)" />
        </div>
        <div class="form-group col-md-6">
            <label>Forma de Pago</label>
            <InputText @bind-Value="@venta.FormaPago" class="form-control" />
            <ValidationMessage For="@(() => venta.FormaPago)" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Empleado</label>
            <InputNumber @bind-Value="@venta.Empleado_Id" class="form-control" />
            <ValidationMessage For="@(() => venta.Empleado_Id)" />
        </div>
        <div class="form-group col-md-6">
            <label>Cliente</label>
            <InputNumber @bind-Value="@venta.Cliente_Id" class="form-control" />
            <ValidationMessage For="@(() => venta.Cliente_Id)" />
        </div>
    </div>

    <button type="submit" class="btn btn-block btn-success">
        <i class="oi oi-check "></i>
        <text style="color:white"> @TextBotonSubmit</text>
    </button>

</EditForm>

@code {
    [Parameter] public Ventas venta { get; set; } = new Ventas();
    [Parameter] public string TextBotonSubmit { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}